
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="create-shipping.component.css">
        <script src="JS_files/login-form.js"></script>
    </head>
    <body>
        <p class="text-center text-white" style="font-size: 0.7cm;">create shipping company</p>
        <div class="container">
            <div class="container form bg-white pt-5 mt-4 mb-3">
                                                            <!--change after click on sign up-->
                <div class="container hide-me">
                    <div class="row">
                        <div class="col mt-4 pl-5 pr-5">
                            <p class="username">Company Name</p>
                            <div class="row mt-4">
                                <div class="col-2 text-center pt-1 pr-0">
                                    <i class="fa fa-user-o" aria-hidden="true" id="user"></i>
                                </div>
                                
                                <div class="col-10 pl-0">
                                   <!--<input type="text" placeholder="enter company name" class='input-1'> -->
                                    <input class='input-1' type="text" placeholder="enter company name" name="name" [(ngModel)]="shippingcompany.name" required>
                                    <hr class="hr-1">
                                  </div>

                                 
                                  <a routerLink="/acc_confirmation"><button (click)="saveshippingcompany()" class="btn btn-block text-white login-button">Submit</button></a>
                            </div>
                            
                            <div *ngIf="submitted">
                                <h4>Station was submitted successfully!</h4>
                                <button class="btn btn-success" (click)="newshippingcompany()">Add</button>
                              </div>
                            
                            <div class="hide"></div>
                        </div> 
                    </div>
                    </div>
                </div>
        </div>
        <input type="submit" value= "home" class="loginn-button " (click)="goToHome()">
        <input type="submit" value= "list all shipping" class="loginn-button " (click)="goToListshipping()">  
    </body>
</html>

